---
layout: default
title: Jordan Moore
---
<img src="/assets/images/floppy.png">
<aside id="picture-and-heading">
  <h1>Welcome! I'm Jordan Moore.</h1>
  <p>I am a Full-Stack Developer, operating out of the beautiful Hudson Valley in New York state.</p>
  <p>The languages I currently work with are <em>JavaScript</em> and <em>Ruby</em>. <strong>PostgreSQL</strong> is my database of choice, and my go-to frameworks are <em>Express</em> and <em>Sinatra</em>.</p>
  <p>My most recent completed project is <strong>DS-Plus</strong>, which is a <em>Node.js</em> package for implementing non-native data structures in <em>JavaScript</em>, like Graphs, Linked Lists, AVL Trees, and more.</p>
  <p>Feel free to message me via <a href="mailto:jordanmoore753@gmail.com">email</a> or <a href="https://www.linkedin.com/in/jordan-moore-41ba011a3/">LinkedIn</a>.</p>
</aside>
<aside class="project-info left">
  <div class="heading-links">
  {% for item in site.data.footer-links %}
    {% if item == site.data.footer-links.first %}
    <a href="{{ item.link }}" style="margin-left: 21px;">
    {% else %}
    <a href="{{ item.link }}">
    {% endif %}
      <span class="icon has-text-black">
        <i class="{{ item.icon }} big"></i>
      </span>
    </a>
  {% endfor %}
  </div>  
</aside>
<h1 class="project-head">Projects</h1>
{% include projects.html %}
{% include medium-posts.html %}
<hr class="footer-divider">

   


