<section>
  <img src="/assets/images/floppy.png">
  <h1>Welcome! I'm Jordan Moore.</h1>
  <p>
    I'm a software engineer who builds containerized backend systems. Most recently, I co-founded and designed <strong>Satellite</strong>, an open-source, multi-instance backend-as-a-service that makes it easy for front-end developers to build and deploy applications. Feel free to message me via <a href="mailto:jordanmoore753@gmail.com">email</a> or <a href="https://www.linkedin.com/in/jordan-moore-41ba011a3/">LinkedIn</a>.</p>
  <ul class="social-icons">
    {% for item in site.data.footer-links %}
      <li>
        <a href="{{ item.link }}">
          <i class="{{ item.icon }} big"></i>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
