<section>
  <img src="/assets/images/floppy.png">
  <h1>Welcome! I'm Jordan Moore.</h1>
  <p>I am a Software Engineer, operating out of the beautiful Hudson Valley in New York state. The languages I currently work with are Ruby and JavaScript. PostgreSQL is my database of choice, and my go-to frameworks are Ruby on Rails and Express. Feel free to message me via <a href="mailto:jordanmoore753@gmail.com">email</a> or <a href="https://www.linkedin.com/in/jordan-moore-41ba011a3/">LinkedIn</a>.</p>
  <ul class="social-icons">
    {% for item in site.data.footer-links %}
      <li>
        <a href="{{ item.link }}">
          <i class="{{ item.icon }} big"></i>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
