<script>
  $(document).ready(function() {
    $(".navbar-burger").click(function() {
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");
    }); 
  });
</script>
<section id="navigation">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        <img src="/assets/images/floppy.png" width="28" style="margin-left: 5px;">
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
    {% for item in site.data.nav %}
      <a href="{{ item.link }}" class="navbar-item">
        {{ item.name }}
      </a>
    {% endfor %}      
    </div>
  </nav>
</section>
