<section>
  <h2>Projects</h2>
  {% for project in site.data.projects %}
    <ul class="projects">
      <li>
        <a href="{{ project.site-link }}" class="project-name">{{ project.name }}</a>
        <p>{{ project.description }}</p>
        <ul class="project-tags">
          {% if project.development == true %}
            <li class="tag-development">
              Development
            </li>
          {% else %}
            <!-- <li class="tag-production">
              Production
            </li> -->
          {% endif %}
          {% if project.lang == 'JavaScript' %}
            <li class="tag-javascript">
              JavaScript
            </li>
          {% elsif project.lang == 'React' %}
            <li class="tag-react">
              React
            </li>           
          {% else %}
            <!-- <li class="tag-ruby">
              Ruby
            </li> -->
          {% endif %}
          {% if project.db == 'PostgreSQL' %}
            <li class="tag-postgresql">
              PostgreSQL
            </li>
          {% endif %}
        </ul>
        <ul class="project-links">
          <li>
            <a href="{{ project.gh-link }}">
              <i class="fa fa-github"></i>
              Repository
            </a>
          </li>
          {% if project.post-link %}
            {% if project.name == 'DS-Plus' %}
              <li>
                <a href="{{ project.post-link }}">
                  <i class="fa fa-book"></i>
                  Documentation
                </a>
              </li>
            {% elsif project.post-link %}
              <li>
                <a href="{{ project.post-link }}">
                  <i class="fa fa-book"></i>
                  Case Study
                </a>
              </li>
            {% endif %}
          {% endif %}
        </ul>
      </li>
    </ul>
  {% endfor %}
</section>
